
#marketplace.container-fluid {
  padding: 1% 1%;
}
#marketplace .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #000;
}

#marketplace .nav-tabs > li > a {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

#marketplace .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 3px solid #000;
}

#marketplace.navbar {
  border-bottom: 1px solid #00000012;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  background-color: #ffffff !important;
}

#marketplace.nav-tabs {
  border-bottom: none;
}

.card {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #eee1b0;
  }

#cardMarket {
  height: 600px;
}

#marketplace.card {
  border: none;
}

#marketplace.card-body {
  flex: 1 1 auto;
  padding: 10px;
}

#marketplace.card-text {
  font-size: 13px;
}
.card-img-top {
  width: 353px;
  height: 264px;
}
#time-posted {
  color: #05882c;
  font-weight: 600;
}

#marketplace hr {
  margin: 0.2rem 0;
  color: #bfbebe;
}

#marketplace.buttons button {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
}

#create-post {
  text-align: ledt;
}
.card-img-top {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
}

